name: Deploy Ruby CodeStyle

on:
  push:
    branches:
      - main
    paths:
      - ruby/**

jobs:
  build:
    name: Ruby ${{matrix.ruby}}

    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
        ruby: ["2.2", "2.7", "3.0", "3.1"]

    runs-on: ${{ matrix.os }}

    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v3
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
      - name: Run RuboCop
        run: bundle exec rubocop
      - name: Run Tests
        run: bundle exec rake
